[submodule "dataset/NA"]
	path = dataset/NA
	url = git@github.com:sadisticsolution/fgo-game-data.git
	branch = NA
[submodule "dataset/JP"]
	path = dataset/JP
	url = git@github.com:sadisticsolution/fgo-game-data.git
	branch = JP
