name: Update

on:
  schedule:
    - cron: '0 */2 * * *'
  push:
  repository_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Checkout JP dataset
      uses: actions/checkout@v2
      with:
        repository: sadisticsolution/fgo-game-data
        ref: JP
        path: 'dataset/JP'
        token: ${{ secrets.TOKEN }}
    - name: Checkout NA dataset
      uses: actions/checkout@v2
      with:
        repository: sadisticsolution/fgo-game-data
        ref: NA
        path: 'dataset/NA'
        token: ${{ secrets.TOKEN }}
    - run: env > env && docker build -t run . && docker run --env-file env -t run
      env:
        HOST: ${{ secrets.HOST }}
        USER: ${{ secrets.USER }}
        PASSWORD: ${{ secrets.PASSWORD }}
